body{
    font-family: "Goudy Old Style", 'Sorts Mill Goudy', serif;

}
h1{
    font-size: 24px;
    font-variant: small-caps;
    text-align: center;
    font-weight: bold;
}
h2{
    font-size: 22px;
    text-align: center;
    font-weight: bold;

}
p{
    font-size: 18px;
    padding: 20px;
    margin: auto;
    font-family: 'Goudy Old Style', 'Sorts Mill Goudy', Serif;
}
.center{
    margin: auto;
    width: 50%;
    padding: 10px;
}
